<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <p class=" display-4">Home</p>
            <hr>

            <p class="lead">Saving your contacts here.

            </p>
            
            <a [routerLink]="['/users/add']"  class="btn  btn-outline-primary">Create <i class="fas fa-running"></i></a>
        </div>
        <div class="col-lg-4">
            <img  style="margin-top: 30%;" class="img-svg" src="../../../assets/undraw_online_friends_x73e.svg" width="150%" alt="">
            
    </div>
    </div>
    
</div>